.meniu {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  color: white;
  font-size: smaller;
  background-color: rgb(42, 47, 74);
  font-size: 18px;
}
/* HERO */
.hero {
  background-color: rgb(42, 47, 74);
  display: flex;
  align-items: center;
  height: 75vh;
  min-height: 30em;
  max-height: 50em;
  color: white;
}
.line {
  background-color: white;
  height: 2px;
  margin: 30px 0;
}
.line1 {
  background-color: white;
  height: 2px;
  margin: 15px 0;
}
.hero-bottom {
  display: flex;
}
.btn {
  color: white;
  background-color: transparent;
  border: 2px solid white;
  width: 200px;
  height: 15x;
  margin-left: 20px;
}
.container {
  width: calc(100% - 6em);
}
.btn i {
  margin-left: 10px;
  font-size: 15px;
}
.articles {
  display: flex;
  flex-wrap: wrap;
}
.article1 {
  flex-basis: 30%;
  height: 40vh;
  max-height: 40em;
  min-height: 23em;
  background-color: rgb(121, 191, 216);
  display: flex;
  align-items: center;
  padding-left: 20px;
  color: white;
}
.article2 {
  flex-basis: 70%;
  height: 40vh;
  max-height: 40em;
  min-height: 23em;
  background-color: rgb(138, 125, 185);
  display: flex;
  align-items: center;
  padding-left: 20px;
  color: white;
}
.article3 {
  flex-basis: 70%;
  height: 40vh;
  max-height: 40em;
  min-height: 23em;
  background-color: rgb(228, 145, 137);
  display: flex;
  align-items: center;
  padding-left: 20px;
  color: white;
}
.article4 {
  flex-basis: 30%;
  height: 40vh;
  max-height: 40em;
  min-height: 23em;
  background-color: rgb(223, 182, 143);
  display: flex;
  align-items: center;
  padding-left: 20px;
  color: white;
}
.article5 {
  flex-basis: 40%;
  height: 40vh;
  max-height: 40em;
  min-height: 23em;
  background-color: rgb(126, 151, 208);
  display: flex;
  align-items: center;
  padding-left: 20px;
  color: white;
}
.article6 {
  flex-basis: 60%;
  height: 40vh;
  max-height: 40em;
  min-height: 23em;
  background-color: rgb(121, 173, 150);
  display: flex;
  align-items: center;
  padding-left: 20px;
  color: white;
}
.bottom {
  background-color: rgb(40, 24, 70);
  color: white;
  padding: 150px 0;
}
.bottom h2 {
  font-size: 40px;
}
.btn1 {
  color: white;
  background-color: transparent;
  border: 2px solid white;
  width: 200px;
  height: 3rem;
}
