/* Common CSS ======================*/
body {
  background-color: #f8f8f8;
}
.section-subtitle {
  color: #0779e4;
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
}
.section-title {
  text-align: center;
  font-size: 1.7rem;
}
.section {
  padding-top: 3%;
  padding-bottom: 4%;
}
p {
  color: #999;
}
/* HEADER ======================*/
.header {
  background-color: rgb(7, 121, 228);
  color: white;
  /* padding: 1em 0; */
}
.header-flex {
  display: flex;
  justify-content: space-between;
  /* Kad sucentruoti  */
  align-items: center;
}
.nav-link {
  padding: 0.6em 1em;
  /* a linkai visada eina inline reikia daryti inline block kad backgroundas uzsidetu tolygiai */
  display: inline-block;
}
.nav-link:hover {
  background-color: rgb(77, 154, 226);
}
.logo {
  font-size: 30px;
  display: inline-block;
  padding: 0.2em 0;
}
/* Services section ========================= */
.services-cards {
  display: flex;
  margin-bottom: 2rem;
  gap: 15px;
}
.services-cards .card {
  background-color: #fff;
  flex-basis: 33%;
  padding: 1.5em;
}
.card-title {
  color: #0779e4;
}
.card-link {
  color: #0779e4;
}

.fa {
  font-size: 60px;
  color: white;
}
.row {
  display: flex;
  flex-wrap: wrap;
  width: 900px;
  margin: 0 auto;
  gap: 10px;
  padding-bottom: 100px;
}
.row div {
  flex-basis: 48%;
}
.row img {
  width: 100%;
  height: 100%;
}
/* Juosta */
.sum {
  background-image: linear-gradient(to right, #095eaec4, #095eaec4),
    url("https://preview.colorlib.com/theme/knuford/images/xbg_3.jpg.pagespeed.ic._5ftKPXrag.webp");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 250px;
}
.tbox {
  display: flex;
  gap: 10px;
  flex-basis: 20%;
  color: white;
}
.totals-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.number {
  color: white;
  font-weight: bolder;
  font-size: 20px;
}
