body {
  padding-left: 100px;
  padding-top: 50px;
  margin-bottom: 1000px;
}
.text {
  margin: 0;
}
.fixed {
  /* Fixed skaiciuoja savo pozicija nuo pacio ekrano */
  position: fixed;
  bottom: 0;
  left: 0;
  border: 1px solid black;
  margin: 0;
}
.absolute {
  border: 1px solid #000;
  position: absolute;
  top: 0;
  right: 0;
}
.relative {
  position: relative;
  min-height: 150px;
  border: 1px dashed rgb(161, 161, 161);
}
.black-bg {
  margin-top: 20px;
  background-color: #333;
  height: 150px;
  width: 300px;
  position: relative;
}
.white-circle {
  width: 20px;
  height: 20px;
  background-color: snow;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: transform 0.2s ease-in-out;
}
.white-circle:hover {
  transform: translate(-50%, -50%) scale(1.3);
}
